{% extends 'base.html' %} {% load static %} {% block content %} {% comment %}
fetch blog items {% endcomment %}

{% for blog in blog_list %} {% comment %}
Check if blog is published {% endcomment %} {% if blog.published_status %}

    <div class="blog-card">
      <div class="meta">
        {% if blog.image %}
        <img src="/media/{{blog.image}}" alt="" class="blog-image" />
        {% else %}
        <img
          src="{% static 'share.jpg' %} "
          alt="share"
          class="img-thumbnail"
        />
        {% endif %}
        <ul class="details">
          <li class="author">{{blog.author}}</li>
          <li class="date">{{blog.published_date|date:"F j, Y"}}</li>
          {% comment %}
          <li class="tags">
            <ul>
              <li><a href="#">{{blog.category.category}}</a></li>
            </ul>
          </li>
          {% endcomment %}
        </ul>
      </div>

      <div class="description">
        <h1>{{blog.title}}</h1>
        <h2>{{blog.subtitle}}</h2>
        <p>{{blog.content|safe|truncatewords:30}}</p>

        <p class="read-more">
          <a href="{% url 'view_blog' blog.slug %}">Read More </a>
        </p>
      </div>
    </div>
    {% endif %}
  </div>
{% endfor %}
{% endblock content %}
